* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;



}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#italics {
  font-style: italic;
  font-size: 2rem;
  color: rgb(138, 81, 6);
  /* display: flex; */
  /* padding: 1rem; */

}

.color {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 50;
}

a {
  text-decoration: none;
}

.move-right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  width: 80%;
}

.gold {
  color: rgb(196, 154, 65);
  font-weight: bolder;
  font-style: oblique;
  font-size: 1.3rem;
  

}

#hero {
  overflow: hidden;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./naruto-folder/image.png);
  height: 100%
  
}

.ont
{
  color: rgb(243, 214, 48);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 140%;
  /* padding: 30%; */
  width: 100%;
  
}

.beau{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  
}

.progress {
  background-image: linear-gradient(to right, #9b7d80, #742122);
  /* background-color:#9e3238 ; */
  height: 120%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.ant {
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 100%;
 justify-content: center;
 color: rgba(184, 171, 163, 0.726);
 width: 80%;
 font-size: 2rem;
 margin: 2rem;
 
}

#bold {
  font-size: 4rem;
  color: rgb(196, 154, 65);
  font-style: oblique;
  margin-bottom: 2rem;
}

#gold {
  color: rgb(196, 154, 65);
}

#moot {
  color: rgb(121, 47, 47);
}

.ama {
  background-image: linear-gradient(to right, #a54850, #5a1b1c);
  height: 100%;
  width: 100%;

 
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#shift {
  margin-left: 2rem;
  margin-top: 2rem;
  font-size: 3rem;
  font-style: oblique;
  color: rgb(196, 154, 65);
}

#down {
  margin-bottom: 6rem;
  font-size: 2.5rem;
  font-weight: 100;color: rgb(196, 154, 65);

}

.title {
  color: rgb(196, 154, 65);
  font-size: 2.3rem;
  font-weight: 200;
  
}

.feature-list {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 2rem;
  list-style-type: none;
  border: 10px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

