* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;



}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#italics {
  font-style: italic;
  font-size: 2rem;
  color: rgb(138, 81, 6);
  /* display: flex; */
  /* padding: 1rem; */

}

.color {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
}

.move-right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  width: 80%;
}

.gold {
  color: gray;
  font-weight: bolder;
  font-style: oblique;
}

#hero {
  overflow: hidden;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./naruto-folder/image.png);
  height: 100%
}

.ont
{
  color: rgb(207, 178, 10);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 140%;
  /* padding: 30%; */
  width: 100%;
  
}

.beau{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  
}

.progress {
  background-image: url(./kakashi-folder/image.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

.ant {
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 140%;
 justify-content: center;
 color: rgb(160, 151, 145);
 width: 80%;
 font-size: 2rem;
 
}

#bold {
  font-size: 4rem;
  color: rgb(61, 55, 20);
  font-style: oblique;
}

#gold {
  color: rgb(63, 55, 9);
}

